<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<head>
    <title>Library Management System</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" href="/favicon.png">

</head>

